.formulaire{
    display: flex;
    justify-content: center;
    .post-form{
        box-shadow: 0px 0px 20px rgb(0, 251, 255);
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: rgb(204, 204, 204);
        border-radius: 5px;
        width: 40vw;
        #post-title{
            text-align: center;
            font-size: 20px;
            padding: 5px;
            font-weight: bold;
        }
        input{
            border-radius: 5px;
        }
        textarea{
            border-radius: 5px;
            padding: 10px;
        }
        #post-tags{
            margin-bottom: 20px;
            padding: 5px;
        }
        #submit-post{
            padding: 5px;
            width: 20%;
            margin: auto;
        }
        #submit-post:hover{
            cursor: pointer;
            border: 2px solid black;
            box-shadow: 0px 0px 20px rgb(0, 251, 255);
            background-color: rgb(150, 150, 150);
        }
    }
}