.navigation{
    background: linear-gradient(#00f7ff, #e97a46);
    height: 10vh;
    .desk{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
        a {
            color: white;
            font-size: 2rem;
        }
        .nav-active{
            color: black;
        }
    }
    .burger{
    display: none;
    visibility: hidden;
}
};
