.navigation{
    background-color: grey;
    height: 10vh;
    .desk{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
        a {
            color: darkturquoise;
            font-size: 2rem;
        }
        .nav-active{
            text-shadow: 0px 0px 20px rgb(0, 251, 255);
            color: rgb(0, 251, 255);
        }
    }
    .burger{
    display: none;
    visibility: hidden;
}
};
